$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

html{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
body{
    background: #222;
}
.topToolbar{
    background: #eee;
    .time{
            border: 2px solid #ccc;
            border-radius: 4px;
            float: left;
            width: 107px;
            padding: .5em;
            background: #333;
            color: #ccc;
            height: 55px;
            line-height: 36px;
            padding-left: 1.2em;
            margin-right:1em;
            background: linear-gradient(#595959 0%, #666666 7%, #474747 16%, #2c2c2c 26%, #2c2c2c 26%, #000000 38%, #131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        }
    .tinyTime{
        color: #ccc;
        font-size: 7px;
        position: relative;
        bottom: 23px;
        left: 1px;
    }
    .info{
        overflow: auto;
        padding: .6em;
        .controls{
            width: auto;
            margin: 0 auto;
            font-size: 2em;
            float:left;
            .playButton{
                padding:.5em;
                border-radius: 4px;
                &:hover{
                    background:#e5e5e5;
                }
                &:active{
                    background:#d5d5d5;
                }
            }
        }
    }
    .timelineContainer{
      height: 600px;
      background: #e5e5e5;
      .toolsContainer{
          padding: 0;
          height: 40px;
          background: #eaeaea;
          border-bottom: 1px solid #ccc;

          .tools{
              @include make-lg-column(10);
              padding: 0;
              position: relative;
              right: 10px;
              .fa{
                  cursor: pointer;
                  font-size: 1.2em;
                  padding: .7em;
                  border-radius: 4px;
                  float: left;
                  &:hover{
                      background:#e5e5e5;
                  }
              }
              .divider{
                  height: 40px;
                  float:left;
                  border-right: 1px solid #f5f5f5;
                  border-left: 1px solid #ccc;
              }
              .fraction {
                  cursor: pointer;
                  float: left;
                  padding: .7em;
                  &:hover{
                      background:#e5e5e5;
                  }
              }
          }
          .toolsPad{
              @include make-lg-column(2);
              padding: 0;

          }
      }
      .timeline{
        position: relative;
          background: #e5e5e5;
          height: 47px;
          .playheadWrap{
              position: relative;
              right:8px;
              top:10px;
              .playhead{
                  font-size:2em;
                  position: relative;
                  cursor:grab;
                  .playheadHandle{
                     width: 16px;
                     height: 22px;
                     background: #333;
                     position: absolute;
                     bottom: 17px;
                     border-top-left-radius: 3px;
                     border-top-right-radius: 3px;
                     border-bottom-right-radius: 1px;
                     border-bottom-left-radius: 1px;
                     .fa-bars{
                        color: #555;
                        font-size: 15px;
                        transform: rotate(90deg);
                        left: 2.5px;
                        top: 2px;
                        position: absolute;
                     }
                  }
              }
          }
          .scrubberPad{
              @include make-lg-column(2);

          }
          .scrubber{
              @include make-lg-column(10);
              padding: 0;
              right: 10px;
              border-left:1px solid black;
              border-bottom: 1px solid #999;
              background: #ddd;
          }
          .track{
              @include make-row();
              .infoBox{
                @include make-lg-column(2);
                padding-top: 1em;
                padding-left: 2em;
              }
              .lanes{
                  @include make-lg-column(10);
                  padding-left:0;

                  .timescale{
                      height: 20px;
                      background: #ddd;
                      position: relative;
                      border-top: 1px solid rgba(0,0,0,.05);
                      z-index:0;
                      .playhead{
                          width:1px;
                          height: 20px;
                          bottom:1px;
                          z-index: 99;
                          position: absolute;
                          background: #333;
                          -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
                          -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
                           box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);

                      }
                      .note{
                        $c : rgba(255, 160, 0, 1);
                        border-left: 1px solid darken($c, 10%);
                        border-top: 1px solid lighten($c, 10%);
                        background: $c;
                        height: 21px;
                        position: absolute;
                        z-index: 99;
                        &:hover{
                          background: rgba(255, 160, 0, 1);
                        }
                      }
                      .bigTick{
                          height: 20px;
                          bottom:.1px;
                          border-left: 1px solid #333;
                          position: absolute;
                          &:hover{
                            background: rgba(130,200,220,.3);
                          }
                      }
                      .tick{
                          height: 20px;
                          border-left: 1px solid #999;
                          bottom:.1px;
                          position: absolute;
                          &:hover{
                            background: rgba(130,200,220,.3);
                          }
                      }
                      .subTick{
                        position: absolute;
                        height: 20px;
                        border-left: 1px solid #ccc;
                        &:hover{
                          background: rgba(130,200,220,.3);
                        }
                      }
                  }
              }
          }
      }
    }

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
